# Parker McQuade
## 02/02/2023 - 02/07-2023
### Python - Built-in Data Structure - Lists

In [18]:
my_list = [50, 55, 70, 90, 100]

In [19]:
# list object
type(my_list)

list

In [20]:
my_list = [60, 'a', 'Alice', 3.5, True, "Spring 2023"]

In [21]:
type(my_list)

list

In [22]:
len(my_list)

6

In [23]:
my_list[0]

60

In [24]:
my_list[1]

'a'

In [25]:
type(my_list[0])

int

In [26]:
type(my_list[4])

bool

In [27]:
fruits = ['Apple', 'Banana', 'Cherry', 'Kiwi']

In [28]:
fruits[-1]

'Kiwi'

In [29]:
fruits[-2]

'Cherry'

In [30]:
fruits[-3]

'Banana'

In [31]:
#slicing
#[Start:End:Step]
my_list

[60, 'a', 'Alice', 3.5, True, 'Spring 2023']

In [32]:
my_list[2:]

['Alice', 3.5, True, 'Spring 2023']

In [33]:
my_list[1:6]

['a', 'Alice', 3.5, True, 'Spring 2023']

In [34]:
my_list[7]

IndexError: list index out of range

In [35]:
my_list

[60, 'a', 'Alice', 3.5, True, 'Spring 2023']

In [36]:
my_list[2:5]

['Alice', 3.5, True]

In [37]:
my_list[-4:-1]

['Alice', 3.5, True]

In [38]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [39]:
#reverse the list
fruits[::-1]

['Kiwi', 'Cherry', 'Banana', 'Apple']

In [40]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [41]:
# ass a new element 
print(fruits)
print(my_list)

['Apple', 'Banana', 'Cherry', 'Kiwi']
[60, 'a', 'Alice', 3.5, True, 'Spring 2023']

In [42]:
fruits + ['Orange']

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [43]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [44]:
#save changes to update list 
fruits = fruits +['Orange']

In [45]:
fruits[0] = 'Mango'

In [46]:
# double a list 
fruits * 2

['Mango',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange',
 'Mango',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange']

In [47]:
fruits

['Mango', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [48]:
my_list

[60, 'a', 'Alice', 3.5, True, 'Spring 2023']

In [49]:
my_list *2

[60,
 'a',
 'Alice',
 3.5,
 True,
 'Spring 2023',
 60,
 'a',
 'Alice',
 3.5,
 True,
 'Spring 2023']

In [50]:
#Use the list built-in function
# to add
fruits.append('Banana') # in plave function

In [51]:
fruits

['Mango', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Banana']

In [52]:
fruits.append(123)

In [53]:
fruits

['Mango', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Banana', 123]

In [54]:
l1 = ['a', 'd', 'e', 'f', 'r']

In [55]:
l1.extend([1,2,3,4,5])
l1

['a', 'd', 'e', 'f', 'r', 1, 2, 3, 4, 5]

In [56]:
# pop() -removes elements from the funtion (changes list) 
fruits.pop()

123

In [57]:
fruits

['Mango', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Banana']

In [58]:
fruits.pop(1)

'Banana'

In [59]:
fruits

['Mango', 'Cherry', 'Kiwi', 'Orange', 'Banana']

In [60]:
# delete 
my_list

[60, 'a', 'Alice', 3.5, True, 'Spring 2023']

In [61]:
del my_list[4]

In [62]:
my_list

[60, 'a', 'Alice', 3.5, 'Spring 2023']

In [63]:
len(my_list)

5

In [64]:
l1

['a', 'd', 'e', 'f', 'r', 1, 2, 3, 4, 5]

In [65]:
l1.reverse()

In [66]:
l1

[5, 4, 3, 2, 1, 'r', 'f', 'e', 'd', 'a']

In [67]:
list1 = [90, 50, 80]
list2 = [60, 80, 70]
list3 = [40,30,20]

In [68]:
list1

[90, 50, 80]

In [69]:
list1 =[list1, list2, list3]

In [70]:
list1

[[90, 50, 80], [60, 80, 70], [40, 30, 20]]

In [71]:
len(list1)

3

In [72]:
len(list1[0])

3

In [73]:
list1[0]

[90, 50, 80]

In [74]:
list1[0][1]

50

In [75]:
list1

[[90, 50, 80], [60, 80, 70], [40, 30, 20]]

In [76]:
list1[1][2]

70

In [77]:
list1[1]

[60, 80, 70]

In [78]:
list1[1][-1]

70

In [79]:
list1[2][1] = 35

In [80]:
list1

[[90, 50, 80], [60, 80, 70], [40, 35, 20]]

In [81]:
list1[1::]

[[60, 80, 70], [40, 35, 20]]

In [82]:
type(list1)

list

In [83]:
type(list1[0])

list

In [84]:
# Range() Method 
range(10)

range(0, 10)

In [85]:
lst = lst(range(10))

NameError: name 'lst' is not defined

In [86]:
lst

NameError: name 'lst' is not defined

In [87]:
list(range(2,13))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [88]:
list(range(2,13,2))

[2, 4, 6, 8, 10, 12]

In [89]:
l2 = list(range(2,13,2))

In [90]:
l2

[2, 4, 6, 8, 10, 12]

In [91]:
# insert 
l2.insert(1, 'number')

In [92]:
l2.remove(8)

In [93]:
# in 
2 in l2

True

In [94]:
6 in l2

True

In [95]:
8 in l2

False

In [96]:
l2

[2, 'number', 4, 6, 10, 12]

In [97]:
lst = [5,2,6,3,8,10,8]

In [98]:
lst

[5, 2, 6, 3, 8, 10, 8]

In [99]:
lst.sort()

In [100]:
lst

[2, 3, 5, 6, 8, 8, 10]

In [101]:
ch_lst = ['c', 'r', 'a', 'e', 'b']

In [102]:
ch_lst

['c', 'r', 'a', 'e', 'b']

In [103]:
ch_lst.sort()

In [104]:
ch_lst

['a', 'b', 'c', 'e', 'r']

In [105]:
ch_lst.sort(reverse = True)

In [106]:
ch_lst

['r', 'e', 'c', 'b', 'a']

In [107]:
words = ['saw', 'small', 'He', 'foxes', 'six']

In [108]:
words

['saw', 'small', 'He', 'foxes', 'six']

In [109]:
words.sort()

In [111]:
words.sort(key=len)

In [112]:
words

['He', 'saw', 'six', 'foxes', 'small']

In [113]:
# ZIP - example connecting to CSV files 
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped_lists = zip(seq1,seq2)

In [115]:
zipped_lists

In [116]:
list(zipped_lists)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [118]:
lst = [1,2,3,4]
zipped_lists = zip(seq1,lst)
list(zipped_lists)

[('foo', 1), ('bar', 2), ('baz', 3)]

In [120]:
# nested List
#Access to Nested List
lst = ['a', 'a', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [2, 3]]
lst

['a', 'a', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [2, 3]]

In [121]:
len(lst)

6

In [122]:
lst[2]

['aa', 'bb', ['ddd', 'eee']]

In [123]:
lst[0]

'a'

In [124]:
lst[-1]

[2, 3]

In [125]:
len(lst[-1])

2

In [126]:
len(lst[2])

3

In [127]:
lst[2]

['aa', 'bb', ['ddd', 'eee']]

In [128]:
lst[2][-1]

['ddd', 'eee']

In [129]:
len(lst[2][-1])

2

In [130]:
len(lst[2][-2])

2

In [131]:
lst[5]

[2, 3]

In [132]:
lst[2][-1][0]

'ddd'

In [135]:
#insert new value into existing list 
lst[2][-1].append('aaa')

In [136]:
lst

['a', 'a', ['aa', 'bb', ['ddd', 'eee', 'aaa', 'aaa']], 'f', 'g', [2, 3]]

In [137]:
lst[2][-1].insert(0, 'bbb')

In [138]:
lst

['a', 'a', ['aa', 'bb', ['bbb', 'ddd', 'eee', 'aaa', 'aaa']], 'f', 'g', [2, 3]]

In [139]:
#Pop() to delete from nested list 
lst[2][-1].remove('eee')

In [140]:
lst

['a', 'a', ['aa', 'bb', ['bbb', 'ddd', 'aaa', 'aaa']], 'f', 'g', [2, 3]]