# Parker McQuade
## 02/02/2023
### Python - Built-in Data Structure - Lists

In [1]:
my_list = [50, 55, 70, 90, 100]

In [2]:
# list object
type(my_list)

In [3]:
my_list = [60, 'a', 'Alice', 3.5, True, "Spring 2023"]

In [4]:
type(my_list)

In [5]:
len(my_list)

In [6]:
my_list[0]

In [7]:
my_list[1]

In [8]:
type(my_list[0])

In [9]:
type(my_list[4])

In [10]:
fruits = ['Apple', 'Banana', 'Cherry', 'Kiwi']

In [11]:
fruits[-1]

In [12]:
fruits[-2]

In [13]:
fruits[-3]

In [14]:
#slicing
#[Start:End:Step]
my_list

In [15]:
my_list[2:]

In [16]:
my_list[1:6]

['a', 'Alice', 3.5, True, 'Spring 2023']

In [17]:
my_list[7]

IndexError: list index out of range

In [ ]:
my_list

In [ ]:
my_list[2:5]

In [24]:
my_list[-4:-1]

['Alice', 3.5, True]

In [25]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [26]:
#reverse the list
fruits[::-1]

['Kiwi', 'Cherry', 'Banana', 'Apple']

In [27]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [28]:
# ass a new element 
print(fruits)
print(my_list)

['Apple', 'Banana', 'Cherry', 'Kiwi']
[60, 'a', 'Alice', 3.5, True, 'Spring 2023']

In [29]:
fruits + ['Orange']

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [30]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [31]:
#save changes to update list 
fruits = fruits +['Orange']

In [32]:
fruits[0] = 'Mango'

In [33]:
# double a list 
fruits * 2

['Mango',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange',
 'Mango',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange']

In [34]:
fruits

['Mango', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [35]:
my_list

[60, 'a', 'Alice', 3.5, True, 'Spring 2023']

In [36]:
my_list *2

[60,
 'a',
 'Alice',
 3.5,
 True,
 'Spring 2023',
 60,
 'a',
 'Alice',
 3.5,
 True,
 'Spring 2023']

In [37]:
#Use the list built-in function
# to add
fruits.append('Banana') # in plave function

In [38]:
fruits

['Mango', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Banana']

In [39]:
fruits.append(123)

In [40]:
fruits

['Mango', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Banana', 123]

In [41]:
l1 = ['a', 'd', 'e', 'f', 'r']

In [42]:
l1.extend([1,2,3,4,5])
l1

['a', 'd', 'e', 'f', 'r', 1, 2, 3, 4, 5]

In [43]:
# pop() -removes elements from the funtion (changes list) 
fruits.pop()

123

In [44]:
fruits

['Mango', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Banana']

In [45]:
fruits.pop(1)

'Banana'

In [46]:
fruits

['Mango', 'Cherry', 'Kiwi', 'Orange', 'Banana']

In [47]:
# delete 
my_list

[60, 'a', 'Alice', 3.5, True, 'Spring 2023']

In [48]:
del my_list[4]

In [49]:
my_list

[60, 'a', 'Alice', 3.5, 'Spring 2023']

In [50]:
len(my_list)

5

In [51]:
l1

['a', 'd', 'e', 'f', 'r', 1, 2, 3, 4, 5]

In [52]:
l1.reverse()

In [53]:
l1

[5, 4, 3, 2, 1, 'r', 'f', 'e', 'd', 'a']

In [54]:
list1 = [90, 50, 80]
list2 = [60, 80, 70]
list3 = [40,30,20]

In [55]:
list1

[90, 50, 80]

In [56]:
list1 =[list1, list2, list3]

In [57]:
list1

[[90, 50, 80], [60, 80, 70], [40, 30, 20]]

In [58]:
len(list1)

3

In [59]:
len(list1[0])

3

In [60]:
list1[0]

[90, 50, 80]

In [61]:
list1[0][1]

50

In [62]:
list1

[[90, 50, 80], [60, 80, 70], [40, 30, 20]]

In [63]:
list1[1][2]

70

In [64]:
list1[1]

[60, 80, 70]

In [65]:
list1[1][-1]

70

In [66]:
list1[2][1] = 35

In [67]:
list1

[[90, 50, 80], [60, 80, 70], [40, 35, 20]]

In [68]:
list1[1::]

[[60, 80, 70], [40, 35, 20]]

In [69]:
type(list1)

list

In [70]:
type(list1[0])

list

In [71]:
# Range() Method 
range(10)

range(0, 10)

In [72]:
lst = lst(range(10))

NameError: name 'lst' is not defined

In [73]:
lst

NameError: name 'lst' is not defined

In [74]:
list(range(2,13))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [75]:
list(range(2,13,2))

[2, 4, 6, 8, 10, 12]

In [76]:
l2 = list(range(2,13,2))

In [77]:
l2

[2, 4, 6, 8, 10, 12]

In [78]:
# insert 
l2.insert(1, 'number')

In [79]:
l2.remove(8)

In [80]:
# in 
2 in l2

True

In [81]:
6 in l2

True

In [82]:
8 in l2

False

In [83]:
l2

[2, 'number', 4, 6, 10, 12]

In [84]:
lst = [5,2,6,3,8,10,8]

In [85]:
lst

[5, 2, 6, 3, 8, 10, 8]

In [86]:
lst.sort()

In [87]:
lst

[2, 3, 5, 6, 8, 8, 10]

In [88]:
ch_lst = ['c', 'r', 'a', 'e', 'b']

In [89]:
ch_lst

['c', 'r', 'a', 'e', 'b']

In [91]:
ch_lst.sort()

In [92]:
ch_lst

['a', 'b', 'c', 'e', 'r']

In [93]:
ch_lst.sort(reverse = True)

In [94]:
ch_lst

['r', 'e', 'c', 'b', 'a']