# Parker McQuade
## 02-23-2023
### Python - List Comprehension

**List Comprehension Format: **
<code> new_list = [expression for member in iterable] <code/>
    
**Using Conditional Logic**
    
<code> new_list = [expression for member in iterable (if conditional)] <code/>
<code> new_list [expression (if conditional) for member in iterable]<code/>

In [1]:
lst = []
for l in 'hello':
    lst.append(l) 
    
lst

['h', 'e', 'l', 'l', 'o']

In [2]:
lst = [l for l in 'hello']
lst

['h', 'e', 'l', 'l', 'o']

In [4]:
squares =[]
for num in range(1,11):
    squares.append(num * num)
    
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
lst = [num**2 for num in range (1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#Filter 
squares =[]
for num in range(1,11):
    if num % 2 == 0:
        squares.append(num * num)
    
squares

[4, 16, 36, 64, 100]

In [11]:
lst = [num**2 for num in range (1,11) if num % 2 == 0]
lst

[4, 16, 36, 64, 100]

In [14]:
lst = [num**2 if num % 2 == 0 else 0 for num in range (1,11)]
lst

[0, 4, 0, 16, 0, 36, 0, 64, 0, 100]

In [16]:
sales = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16, -2, 1.8]
new_sales = [num if num > 0 else 0 for num in sales]
new_sales

[1.25, 0, 10.22, 3.78, 0, 1.16, 0, 1.8]

In [18]:
new_sales = ['Even' if num > 0 else 'Odd' for num in sales]
new_sales

['Even', 'Odd', 'Even', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [20]:
c_lst = [4,10,20,2.5,15.9,0,14.9]
f_lst = [((9/5) * t + 32) for t in c_lst]
f_lst

[39.2, 50.0, 68.0, 36.5, 60.620000000000005, 32.0, 58.82]

In [26]:
txns = [1.09, 23.56, 57.84, 6.78]
TAX_RATE = 0.88
final_price = [num *( 1 + TAX_RATE) for num in txns]
final_price

[2.0492, 44.29279999999999, 108.7392, 12.7464]