# Parker McQuade
# Week 12 - April 4th, 2023 - April 6th, 2023
# Python Numpy - creating, processing, transporting arrays

In [62]:
import numpy as np

In [2]:
arr_2d = np.array( [ [1,2,3,4], [5,6,7,8] ] )

print(arr_2d)
print(arr_2d.ndim)
print(arr_2d.shape)
print(arr_2d.dtype)

[[1 2 3 4]
 [5 6 7 8]]
2
(2, 4)
int32

In [3]:
# zeros()
arr_1d = np.zeros(10)
arr_1d

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [4]:
arr_2d = np.zeros((10,10))
arr_2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [5]:
# ones()
arr_1d = np.ones(10)
arr_1d

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [6]:
arr_2d = np.zeros((5,5))
arr_2d

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [7]:
#empty
arr_1d = np.empty(10)
arr_1d

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [8]:
arr_2d = np.empty((5,5))
arr_2d

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [9]:
arr_2d = np.zeros((2,2))
arr_2d

array([[0., 0.],
       [0., 0.]])

In [10]:
arr_2d = np.zeros((4,3), dtype=int)
arr_2d

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [11]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
arr = np.arange(0,100,5)
arr

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80,
       85, 90, 95])

In [13]:
# Reshape an array
arr_1d = np.arange(1,13,1)
arr_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [14]:
arr_1d.ndim

1

In [15]:
#1-D to 2-D
arr_2d = arr_1d.reshape(3,4)
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [16]:
# 1-D to 3-D
arr_3d = arr_1d.reshape((2,3,2))
arr_3d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

In [17]:
arr_3d = arr_1d.reshape((1,6,2))
arr_3d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6],
        [ 7,  8],
        [ 9, 10],
        [11, 12]]])

In [18]:
# reshape is a view
print(arr_2d)
print(arr_2d.base)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [19]:
arr_1d[0] = 100
print(arr_1d)
print(arr_2d)

[100   2   3   4   5   6   7   8   9  10  11  12]
[[100   2   3   4]
 [  5   6   7   8]
 [  9  10  11  12]]

In [20]:
# Unknown Dimension 
arr_1d

array([100,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12])

In [21]:
arr_3d = arr_1d.reshape(2,2,-1)
arr_3d

array([[[100,   2,   3],
        [  4,   5,   6]],

       [[  7,   8,   9],
        [ 10,  11,  12]]])

In [22]:
arr_3d.shape

(2, 2, 3)

In [23]:
arr = np.array( [  [1,2,3,4], [5,6,7,8]  ] )
arr

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [24]:
arr_1d = arr.reshape(-1)
arr_1d

array([1, 2, 3, 4, 5, 6, 7, 8])

In [25]:
arr = np.arange(8).reshape(2,4)
arr

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [26]:
# Iterating Arrays
#1-D
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
for n in arr: 
    print(f'n = {n}')

n = 0
n = 1
n = 2
n = 3
n = 4
n = 5
n = 6
n = 7
n = 8
n = 9

In [28]:
# Iterating 2-D
arr_2d = np.arange(1,10).reshape(3,3)
arr_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [29]:
for n in arr_2d:
    print(f'n= {n}')

n= [1 2 3]
n= [4 5 6]
n= [7 8 9]

In [30]:
arr_2d.shape

(3, 3)

In [31]:
for n in arr_2d:
    for num in n:
        print(f'n={num}')

n=1
n=2
n=3
n=4
n=5
n=6
n=7
n=8
n=9

In [32]:
#Iterating 3_d arrays
arr_3d = np.arange(1,13).reshape(2,2,3)
arr_3d

for n in arr_3d:
    for num in n:
        for figs in num:
            print(figs)

1
2
3
4
5
6
7
8
9
10
11
12

In [33]:
# nditer
for n in np.nditer(arr_3d):
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12

In [34]:
arr_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [35]:
arr_2d[:,1:]

array([[2, 3],
       [5, 6],
       [8, 9]])

In [36]:
for n in np.nditer(arr_2d[:,1:]):
    print(n)

2
3
5
6
8
9

In [37]:
# ndenumerate
arr = np.arange(1,16,1)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [38]:
for num in np.ndenumerate(arr): 
    print(num)

((0,), 1)
((1,), 2)
((2,), 3)
((3,), 4)
((4,), 5)
((5,), 6)
((6,), 7)
((7,), 8)
((8,), 9)
((9,), 10)
((10,), 11)
((11,), 12)
((12,), 13)
((13,), 14)
((14,), 15)

In [39]:
arr_2d = np.arange(1,9).reshape(4,2)
arr_2d

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [40]:
for num in np.ndenumerate(arr_2d):
    print(num)

((0, 0), 1)
((0, 1), 2)
((1, 0), 3)
((1, 1), 4)
((2, 0), 5)
((2, 1), 6)
((3, 0), 7)
((3, 1), 8)

In [41]:
for i, num in np.ndenumerate(arr_2d):
    print(i, num)

(0, 0) 1
(0, 1) 2
(1, 0) 3
(1, 1) 4
(2, 0) 5
(2, 1) 6
(3, 0) 7
(3, 1) 8

In [42]:
arr_3d = np.arange(1,25).reshape(3,2,-1)
arr_3d

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]],

       [[17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [43]:
arr_3d.shape

(3, 2, 4)

In [44]:
arr_3d.ndim

3

In [45]:
for t in np.ndenumerate(arr_3d):
    print(t)

((0, 0, 0), 1)
((0, 0, 1), 2)
((0, 0, 2), 3)
((0, 0, 3), 4)
((0, 1, 0), 5)
((0, 1, 1), 6)
((0, 1, 2), 7)
((0, 1, 3), 8)
((1, 0, 0), 9)
((1, 0, 1), 10)
((1, 0, 2), 11)
((1, 0, 3), 12)
((1, 1, 0), 13)
((1, 1, 1), 14)
((1, 1, 2), 15)
((1, 1, 3), 16)
((2, 0, 0), 17)
((2, 0, 1), 18)
((2, 0, 2), 19)
((2, 0, 3), 20)
((2, 1, 0), 21)
((2, 1, 1), 22)
((2, 1, 2), 23)
((2, 1, 3), 24)

In [46]:
for i, v in np.ndenumerate(arr_3d):
    print(i,v)

(0, 0, 0) 1
(0, 0, 1) 2
(0, 0, 2) 3
(0, 0, 3) 4
(0, 1, 0) 5
(0, 1, 1) 6
(0, 1, 2) 7
(0, 1, 3) 8
(1, 0, 0) 9
(1, 0, 1) 10
(1, 0, 2) 11
(1, 0, 3) 12
(1, 1, 0) 13
(1, 1, 1) 14
(1, 1, 2) 15
(1, 1, 3) 16
(2, 0, 0) 17
(2, 0, 1) 18
(2, 0, 2) 19
(2, 0, 3) 20
(2, 1, 0) 21
(2, 1, 1) 22
(2, 1, 2) 23
(2, 1, 3) 24

In [47]:
# Operations: +, -, *, etc
arr_2d * arr_2d

array([[ 1,  4],
       [ 9, 16],
       [25, 36],
       [49, 64]])

In [48]:
arr_2d - arr_2d

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0]])

In [49]:
arr_2d

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [50]:
arr_2d + arr_2d

array([[ 2,  4],
       [ 6,  8],
       [10, 12],
       [14, 16]])

In [51]:
arr_2d**2

array([[ 1,  4],
       [ 9, 16],
       [25, 36],
       [49, 64]], dtype=int32)

In [52]:
arr_2d**3

array([[  1,   8],
       [ 27,  64],
       [125, 216],
       [343, 512]], dtype=int32)

In [53]:
1 / arr_2d

array([[1.        , 0.5       ],
       [0.33333333, 0.25      ],
       [0.2       , 0.16666667],
       [0.14285714, 0.125     ]])

In [54]:
arr_2d = np.arange(1,25).reshape(6,4)

In [55]:
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [56]:
arr_2d.shape

(6, 4)

In [57]:
arr_2d[2]

array([ 9, 10, 11, 12])

In [58]:
arr_2d[1:4,:3]

array([[ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15]])

In [59]:
arr_2d[[0,2,4]]

array([[ 1,  2,  3,  4],
       [ 9, 10, 11, 12],
       [17, 18, 19, 20]])

In [60]:
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [61]:
arr_2d[[1,3,5]]

array([[ 5,  6,  7,  8],
       [13, 14, 15, 16],
       [21, 22, 23, 24]])

In [63]:
arr_2d = np.arange(11,20).reshape(3,3)
arr_2d

array([[11, 12, 13],
       [14, 15, 16],
       [17, 18, 19]])

In [64]:
arr_2d.shape

(3, 3)

In [65]:
arr_2d[:,[0,2]]

array([[11, 13],
       [14, 16],
       [17, 19]])

In [68]:
arr_1d = np.arange(1,12)
arr_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [69]:
len(arr_1d)

11

In [70]:
arr_2d = arr_1d.reshape(11,1)
arr_2d

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11]])

In [71]:
arr_2d.ndim

2

In [72]:
arr_2d.shape

(11, 1)

In [73]:
arr_2d = np.array([('Sarah', (8.0, 7.0)),('John', (6.0,7.0))])
print(arr_2d)

[['Sarah' (8.0, 7.0)]
 ['John' (6.0, 7.0)]]

In [74]:
arr_2d[1]

array(['John', (6.0, 7.0)], dtype=object)

In [75]:
arr_2d[0]

array(['Sarah', (8.0, 7.0)], dtype=object)

In [76]:
arr_2d[0,1]

(8.0, 7.0)

In [77]:
arr_2d[0,0]

'Sarah'

In [78]:
# .T Same as self.transpose()
arr = np.array ([ [2.0, 3.0], [4.0,5.0]])
arr

array([[2., 3.],
       [4., 5.]])

In [79]:
arr.T

array([[2., 4.],
       [3., 5.]])

In [80]:
arr.T

array([[2., 4.],
       [3., 5.]])

In [81]:
arr_2d = np.arange(45).reshape(9,5)
arr_2d

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44]])

In [82]:
arr_2d.T

array([[ 0,  5, 10, 15, 20, 25, 30, 35, 40],
       [ 1,  6, 11, 16, 21, 26, 31, 36, 41],
       [ 2,  7, 12, 17, 22, 27, 32, 37, 42],
       [ 3,  8, 13, 18, 23, 28, 33, 38, 43],
       [ 4,  9, 14, 19, 24, 29, 34, 39, 44]])

In [83]:
arr_2d.T.shape

(5, 9)

In [84]:
arr_2d = np.arange(6).reshape(2,3)
arr_2d

array([[0, 1, 2],
       [3, 4, 5]])

In [85]:
t = np.transpose(arr_2d)
t

array([[0, 3],
       [1, 4],
       [2, 5]])

In [86]:
t.shape

(3, 2)

In [87]:
arr_2d.shape

(2, 3)

In [88]:
arr_2d = np.arange(1,9).reshape(4,2) 
arr_2d

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [89]:
t = np.transpose(arr_2d) 
t

array([[1, 3, 5, 7],
       [2, 4, 6, 8]])

In [90]:
arr_2d.transpose()

array([[1, 3, 5, 7],
       [2, 4, 6, 8]])

In [91]:
arr_2d.shape

(4, 2)

In [93]:
arr_2d.transpose((0,1))

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [94]:
arr_2d.transpose((1,0))

array([[1, 3, 5, 7],
       [2, 4, 6, 8]])

In [95]:
arr_2d.transpose((1,0)).shape

(2, 4)

In [96]:
arr_3d = np.arange(20).reshape(2,5,2)
arr_3d

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]]])

In [97]:
arr_3d.T

array([[[ 0, 10],
        [ 2, 12],
        [ 4, 14],
        [ 6, 16],
        [ 8, 18]],

       [[ 1, 11],
        [ 3, 13],
        [ 5, 15],
        [ 7, 17],
        [ 9, 19]]])

In [98]:
arr_3d.T

array([[[ 0, 10],
        [ 2, 12],
        [ 4, 14],
        [ 6, 16],
        [ 8, 18]],

       [[ 1, 11],
        [ 3, 13],
        [ 5, 15],
        [ 7, 17],
        [ 9, 19]]])

In [99]:
arr_3d.T.shape

(2, 5, 2)

In [100]:
arr_3d.transpose()

array([[[ 0, 10],
        [ 2, 12],
        [ 4, 14],
        [ 6, 16],
        [ 8, 18]],

       [[ 1, 11],
        [ 3, 13],
        [ 5, 15],
        [ 7, 17],
        [ 9, 19]]])

In [101]:
arr_3d.transpose((0,1,2))

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]]])

In [102]:
arr_3d.transpose((1,0,2))

array([[[ 0,  1],
        [10, 11]],

       [[ 2,  3],
        [12, 13]],

       [[ 4,  5],
        [14, 15]],

       [[ 6,  7],
        [16, 17]],

       [[ 8,  9],
        [18, 19]]])

In [103]:
arr_3d.transpose((1,0,2)).shape

(5, 2, 2)

In [105]:
arr_3d.transpose((0,2,1))

array([[[ 0,  2,  4,  6,  8],
        [ 1,  3,  5,  7,  9]],

       [[10, 12, 14, 16, 18],
        [11, 13, 15, 17, 19]]])

In [106]:
arr_3d.transpose((0,2,1)).shape

(2, 2, 5)

In [108]:
arr_3d.transpose((2,1,0))

array([[[ 0, 10],
        [ 2, 12],
        [ 4, 14],
        [ 6, 16],
        [ 8, 18]],

       [[ 1, 11],
        [ 3, 13],
        [ 5, 15],
        [ 7, 17],
        [ 9, 19]]])

In [110]:
arr_3d.transpose((2,1,0)).shape

(2, 5, 2)

In [114]:
# swapaxes
arr = np.array([[1,2,3]])
print(arr) 
print(arr.shape)

[[1 2 3]]
(1, 3)

In [115]:
arr.swapaxes(0,1)

array([[1],
       [2],
       [3]])

In [116]:
arr.swapaxes(0,1).shape

(3, 1)

In [118]:
arr_3d = np.arange(45).reshape(3,5,3)
arr_3d

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11],
        [12, 13, 14]],

       [[15, 16, 17],
        [18, 19, 20],
        [21, 22, 23],
        [24, 25, 26],
        [27, 28, 29]],

       [[30, 31, 32],
        [33, 34, 35],
        [36, 37, 38],
        [39, 40, 41],
        [42, 43, 44]]])

In [119]:
print(arr_3d.ndim)
print(arr_3d.shape)

3
(3, 5, 3)

In [121]:
s = arr_3d.swapaxes(1,2)

In [122]:
s

array([[[ 0,  3,  6,  9, 12],
        [ 1,  4,  7, 10, 13],
        [ 2,  5,  8, 11, 14]],

       [[15, 18, 21, 24, 27],
        [16, 19, 22, 25, 28],
        [17, 20, 23, 26, 29]],

       [[30, 33, 36, 39, 42],
        [31, 34, 37, 40, 43],
        [32, 35, 38, 41, 44]]])

In [123]:
s = arr_3d.swapaxes(1,2)
print(s)
print(s.shape)

[[[ 0  3  6  9 12]
  [ 1  4  7 10 13]
  [ 2  5  8 11 14]]

 [[15 18 21 24 27]
  [16 19 22 25 28]
  [17 20 23 26 29]]

 [[30 33 36 39 42]
  [31 34 37 40 43]
  [32 35 38 41 44]]]
(3, 3, 5)

In [124]:
arr_3d.shape[0]

3

In [125]:
arr_3d.shape[1]

5

In [126]:
arr_3d.shape[2]

3

In [127]:
arr_3d.shape

(3, 5, 3)